:root {
    --primary-color: #FFFFFF;
    --color-black: #000000;
    --blue-color: #00A0E2;
    --heisenberg-blue: #6AD3FF;
    --aquarelle-color: #66C6EE;
    --gray-color: #586C75;
    --light-gray: #777777;
    --marker-color: #FFF5CC;
    --allium: #586C75;
    --boysenberry-shadow: #F2F4F8;

    --normal: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;

    --font-family: "SFPro", sans-serif;
}